In [105]:
"""
Project: Seattle and Boston AirBNB Data Analysis
"""

# Load libraries
import pandas as pd
import numpy as np

In [106]:
# Read csv files for both Seattle and Boston
boston_calendar_df = pd.read_csv(r'D:\GitHub\Seattle-and-Boston-AirBNB-Data-Analysis\data\boston-calendar.csv')
boston_listings_df = pd.read_csv(r'D:\GitHub\Seattle-and-Boston-AirBNB-Data-Analysis\data\boston-listings.csv')
boston_reviews_df = pd.read_csv(r'D:\GitHub\Seattle-and-Boston-AirBNB-Data-Analysis\data\boston-reviews.csv')
seattle_calendar_df = pd.read_csv(r'D:\GitHub\Seattle-and-Boston-AirBNB-Data-Analysis\data\seattle-calendar.csv')
seattle_listings_df = pd.read_csv(r'D:\GitHub\Seattle-and-Boston-AirBNB-Data-Analysis\data\seattle-listings.csv')
seattle_reviews_df = pd.read_csv(r'D:\GitHub\Seattle-and-Boston-AirBNB-Data-Analysis\data\seattle-reviews.csv')

In [107]:
# Print dataframes' shapes
print("boston_calendar_df's shape: {}".format(boston_calendar_df.shape))
print("boston_listings_df's shape: {}".format(boston_listings_df.shape))
print("boston_reviews_df's shape: {}".format(boston_reviews_df.shape))
print("seattle_calendar_df's shape: {}".format(seattle_calendar_df.shape))
print("seattle_listings_df's shape: {}".format(seattle_listings_df.shape))
print("seattle_reviews_df's shape: {}".format(seattle_reviews_df.shape))

boston_calendar_df's shape: (1308890, 4)
boston_listings_df's shape: (3585, 95)
boston_reviews_df's shape: (68275, 6)
seattle_calendar_df's shape: (1393570, 4)
seattle_listings_df's shape: (3818, 92)
seattle_reviews_df's shape: (84849, 6)

In [108]:
boston_calendar_df.dropna(inplace=True)
boston_listings_df.dropna(inplace=True)
boston_reviews_df.dropna(inplace=True)
seattle_calendar_df.dropna(inplace=True)
seattle_listings_df.dropna(inplace=True)
seattle_reviews_df.dropna(inplace=True)

In [112]:
boston_calendar_df['listing_id'] = boston_calendar_df['listing_id'].astype('uint16')
boston_reviews_df['reviewer_id'] = boston_reviews_df['reviewer_id'].astype('int64')
boston_listings_df['number_of_reviews'] = boston_listings_df['number_of_reviews'].astype('uint8')
boston_listings_df['availability_365'] = boston_listings_df['availability_365'].astype('uint8')
boston_listings_df['review_scores_rating'] = boston_listings_df['review_scores_rating'].astype('uint8')
boston_listings_df.rename(columns={'price':'price($)'}, inplace=True)
boston_listings_df['price($)'] = boston_listings_df['price($)'].map(lambda x: x.lstrip('$'))
boston_listings_df['price($)'] = boston_listings_df['price($)'].astype('uint8')

seattle_calendar_df['listing_id'] = seattle_calendar_df['listing_id'].astype('uint16')
seattle_reviews_df['reviewer_id'] = seattle_reviews_df['reviewer_id'].astype('int64')
seattle_listings_df['number_of_reviews'] = seattle_listings_df['number_of_reviews'].astype('uint8')
seattle_listings_df['availability_365'] = seattle_listings_df['availability_365'].astype('uint8')
seattle_listings_df['review_scores_rating'] = seattle_listings_df['review_scores_rating'].astype('uint8')
seattle_listings_df.rename(columns={'price':'price($)'}, inplace=True)
seattle_listings_df['price($)'] = seattle_listings_df['price($)'].map(lambda x: x.lstrip('$'))
seattle_listings_df['price($)'] = seattle_listings_df['price($)'].astype('uint8')

In [115]:
boston_calendar_df = boston_calendar_df[[
          "listing_id"
        , "date"
        , "available"
]]

boston_calendar_df.rename(columns={"date":"calendar_date", "available":"calendar_available"}, inplace=True)

boston_reviews_df = boston_reviews_df[[
          "listing_id"
        , "date"
        , "reviewer_id"
]]

boston_reviews_df.rename(columns={"date":"review_date", "comments":"review_comments"}, inplace=True)

boston_listings_df = boston_listings_df[[
        "id"
      , "smart_location"
      , "room_type"
      , "price($)"
      , "availability_365"
      , "number_of_reviews"
      , "review_scores_rating"
]]

boston_combined_df = boston_calendar_df.merge(boston_listings_df, how="left", left_on="listing_id", right_on="id")
boston_combined_df.drop(['id'], axis=1, inplace=True)

boston_combined_df = boston_combined_df.merge(boston_reviews_df, how="left", on="listing_id")

KeyError: "['date', 'available'] not in index"

In [118]:
seattle_calendar_df = seattle_calendar_df[[
          "listing_id"
        , "date"
        , "available"
]]

seattle_calendar_df.rename(columns={"date":"calendar_date", "available":"calendar_available"}, inplace=True)

seattle_reviews_df = seattle_reviews_df[[
          "listing_id"
        , "date"
        , "reviewer_id"
]]

seattle_reviews_df.rename(columns={"date":"review_date", "comments":"review_comments"}, inplace=True)

seattle_listings_df = seattle_listings_df[[
        "id"
      , "smart_location"
      , "room_type"
      , "price($)"
      , "availability_365"
      , "number_of_reviews"
      , "review_scores_rating"
]]

seattle_combined_df = seattle_calendar_df.merge(seattle_listings_df, how="left", left_on="listing_id", right_on="id")
seattle_combined_df.drop(['id'], axis=1, inplace=True)

seattle_combined_df = seattle_combined_df.merge(seattle_reviews_df, how="left", on="listing_id")

KeyError: "['date', 'available'] not in index"

In [ ]:
boston_combined_df.head()

In [ ]:
boston_combined_df.dropna(inplace=True)
seattle_combined_df.dropna(inplace=True)

In [89]:
all_combined_df = boston_combined_df.append(seattle_combined_df)
all_combined_df.rename(columns={'price':'price($)'}, inplace=True)
all_combined_df['price($)'] = all_combined_df['price($)'].map(lambda x: x.lstrip('$'))
all_combined_df.shape

(2514120, 11)

In [90]:
all_combined_df.head()

,listing_id,calendar_date,calendar_available,smart_location,room_type,price($),availability_365,number_of_reviews,review_scores_rating,review_date,reviewer_id
730,6976,2017-05-12,t,"Boston, MA",Private room,65.00,319.0,41.0,98.0,2009-07-19,23549.0
731,6976,2017-05-12,t,"Boston, MA",Private room,65.00,319.0,41.0,98.0,2010-07-23,154097.0
732,6976,2017-05-12,t,"Boston, MA",Private room,65.00,319.0,41.0,98.0,2011-05-23,232785.0
733,6976,2017-05-12,t,"Boston, MA",Private room,65.00,319.0,41.0,98.0,2011-06-28,579421.0
734,6976,2017-05-12,t,"Boston, MA",Private room,65.00,319.0,41.0,98.0,2011-07-24,824245.0

In [85]:
all_combined_df['price'].unique()

array(['$65.00', '$185.00', '$95.00', '$725.00', '$375.00', '$250.00',
       '$145.00', '$75.00', '$195.00', '$229.00', '$279.00', '$135.00',
       '$225.00', '$289.00', '$209.00', '$251.00', '$389.00', '$342.00',
       '$359.00', '$165.00', '$299.00', '$399.00', '$451.00', '$285.00',
       '$329.00', '$70.00', '$295.00', '$125.00', '$235.00', '$249.00',
       '$270.00', '$200.00', '$175.00', '$349.00', '$150.00', '$154.00',
       '$309.00', '$99.00', '$259.00', '$155.00', '$55.00', '$126.00',
       '$40.00', '$100.00', '$80.00', '$115.00', '$89.00', '$79.00',
       '$59.00', '$90.00', '$310.00', '$120.00', '$60.00', '$107.00',
       '$220.00', '$186.00', '$147.00', '$187.00', '$215.00', '$48.00',
       '$137.00', '$109.00', '$86.00', '$85.00', '$119.00', '$360.00',
       '$199.00', '$82.00', '$275.00', '$97.00'], dtype=object)

In [5]:
# Print new dataframes' shapes/*
print("boston_all_df's shape: {}".format(boston_all_df.shape))
print("seattle_all_df's shape: {}".format(seattle_all_df.shape))

boston_all_df's shape: (1308890, 105)
seattle_all_df's shape: (1393570, 102)